<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Collaboration Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='group_actions.js') }}"></script> <!-- Include the group_actions.js script -->
</head>
<body>
    <h1>Manage Collaboration Groups</h1>
    <div class="group-list">
        {% for group in groups %}
            <div class="group-item">
                <h2>Groups You're Part Of</h2>
                <ul>
                    {% for group in joined_groups %}
                        <li>
                            {{ group.name }} - {{ group.description }}
                            <a href="{{ url_for('leave_group', group_id=group.id) }}">Leave</a>
                        </li>
                     {% endfor %}
                </ul>
                <p>{{ group.description }}</p>
                <div class="group-actions">
                    <a href="{{ url_for('edit_group', group_id=group.id) }}">Edit</a>
                    <a href="{{ url_for('delete_group', group_id=group.id) }}">Delete</a>
                    <a href="{{ url_for('manage_members', group_id=group.id) }}">Manage Members</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
